label {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
}

span {
    display: table-cell;
    padding: 0 4px 0 6px;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    font-family: arial;
    margin-top: 50px;
}

input[type=text] {
    width: 95%;
}

h1 {
    margin: 0;
    text-align: center;
    text-shadow: 5px 5px 5px #04ae70;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover, a:hover {
    opacity: 0.7;
}

ul {
    list-style-position: outside;
    list-style-type: none;
    padding: 10px;
}

li {
    margin: 0 10px 10px 10px;
}

button.edit {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: #04ae70;
}

button.delete {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: #e60000;
}

button.block {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: #cc0044;
}

button.unblock {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    background-color: #6699ff;
}

input {
    width: 90%;
}