select {
  width: 200px;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.title {
  text-align: center;
}

.title h1 {
  margin: 0px;
  margin-top: 10px;
}

.title a {
  margin: 0px;
  margin-bottom: 20px;
}

.error {
  color:red;
  text-align: center;
}

.hint{
  color: gray;
  margin: 0;
}

a {
  text-decoration: none;
  color: #037c50;
}

p {
  color: #535353;
  text-align: left;
}
.rad > input {
  visibility: hidden;
  position: absolute;
}
.rad > i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #fff;
  border: 0.5px solid gray;
}
.rad > input:checked + i {
  box-shadow: inset 0 0 0 3px #fff;
  background: #037c50;
}