.pagination {
    display: inline-block;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    float:none;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}