form {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

ul {
  display:flex;  
  list-style:none;
}

li {
  list-style:none;
  display:inline-block;
  padding: 0px 10px;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #04ae70;
  border-radius: 4px;
}

input[type=submit]{
  border: 0px;
  width: 100%;
  background-color: #04ae70;
  border-radius: 4px;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
}

button[type=submit]{
  border: 0px;
  width: 100%;
  background-color: #04ae70;
  border-radius: 4px;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
}

.reset {
  border: 0px;
  background-color: #c88062;
  border-radius: 4px;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
}

a.reset {
  text-align: center;
  font-size: 16px;
  color: white;
}