table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04ae70;
  color: white;
}